/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container, .register-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

.login-form h2, .register-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.new-account, .back-to-login {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
}

.new-account a, .back-to-login a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.new-account a:hover, .back-to-login a:hover {
    color: #45a049;
}

/* Estilo do botão toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

/* Estilo do botão toggle */
.toggle-group {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Distribui espaço entre os itens */
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

/* Estilo para campo obrigatório */
.required {
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.error-border {
    border-color: red;
}

/* Estilo para o botão desabilitado */
#register-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.notification {
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    transition: opacity 0.3s;
    position: relative;
  }
  
  .notification.success { background-color: lightgreen; }
  .notification.error { background-color: lightcoral; }
  .notification.warning { background-color: lightyellow; color: black; }
  
  .notification-header {
    font-weight: bold;
  }
  
  .notification-close {
    float: right;
    cursor: pointer;
  }
  